* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  padding: 0;
  margin: 0;
}

.header {
  background-color: #1f2937;
  color: white;
  height: 300px;
}

.navBar {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1% 13%;
  font-size: 20px;
}
.links {
  display: flex;
  list-style: none;
  color: white;
  margin-left: auto;
  gap: 30px;
}

a {
  color: white;
  text-decoration: none;
}
.link {
  color: white;
}

.headerPicture {
  /* display: flex;
  justify-content: space-around;
  align-items: center; */
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 13%;
  height: 230px;
  gap: 10%;
}

.headerinfo {
  align-items: flex-start;
}

.headerImage {
  display: flex;
  margin-left: auto;
  width: 100%;
}
.image-1 {
  width: 100%;
  height: 150px;
}

.moto {
  display: flex;
  flex-direction: column;
  margin: 0px;
}

button {
  background-color: #3882f2;
  color: white;
  padding: 5px;
  width: fit-content;
  border-radius: 5px;
  border: none;
  margin-top: 5px;
}
.slides {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
}
.contentHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px 0px;
}

.colorChoice {
  display: flex;
  justify-content: space-around;
  width: 70%;
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tileDesc {
  text-align: center;
  width: 130px;
  padding-top: 5px;
}

.tile-img {
  height: 100px;
  width: 100px;
  border-radius: 5px;
}

.quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  padding: 0 20%;
  background-color: #e5e7eb;
  gap: 2%;
}

.userName {
  align-self: flex-end;
  font-size: 12px;
  font-weight: bold;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #3882f2;
  margin: 10%;
  border-radius: 5px;
  color: white;
}
.cta {
  padding: 20px;
}

.testDrive {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px;
}
